.packages
    padding: 40px 0 70px 0
    &-button
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    &-title
        margin-bottom: 65px
    &-wrapper
        display: grid
        grid-template-columns: 350px 350px 350px
        grid-template-rows: 500px 500px
        grid-gap: 30px
    &-card
        background-color: $dark
        color: $light
        border-radius: 8px
        &__image
            width: 100%
            height: 250px
            object-fit: cover
            border-radius: 8px 8px 0 0
        &__item
            padding: 19px 30px
        &__hotel
            &-name
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 23px
                margin: 0
                margin-bottom: 23px
        &__text
            font-style: normal
            font-weight: 400
            font-size: 12px
            line-height: 15px
            display: flex
            align-items: center
            margin-bottom: 8px
        &__price
            display: flex
            flex-direction: column
            margin-top: 25px
        &__info
            display: flex
            justify-content: space-between
        &__old-price
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 18px
            text-decoration-line: line-through
            margin-bottom: 5px
        &__pricetag
            font-style: normal
            font-weight: 700
            font-size: 24px
            line-height: 30px
        &__button
            display: flex
            flex-wrap: wrap
            font-style: normal
            font-weight: 600
            font-size: 14px
            line-height: 19px
            border: none
            padding: 10px 27px
            color: $light
            background-color: $primary
            border-radius: 4px
        &__description
            margin-left: 15px
